#bannerBgImage {
    height: 100vh;
    background: url("images/image.jpg");
    background-size: cover;
    position: relative;
}

#bannerText {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;

}
.bannerTitle {
    font-size: 2rem;
}
.bannerDesc {
    font-size: 4rem;
}

.card {
    cursor: pointer;
}

.card:hover{
    background-color: rgb(5, 180, 250);
    border: 5px solid black;
}

.bIcon {
    width: 100%;
    text-align: center;
    font-size: 40px;
}


.img-fluid:hover{
    border: 5px solid black;
}

.card-img-top {
    height: 40vh;
}

.card-img-bottom {
    height: 75vh;
    
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(189, 185, 185);
    font-weight: 300;
    margin-top: 20px;
}
